<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style media="screen">
      * {
        padding: 0px;
        margin: 0px;
        border: 0px;
        font-family: sans-serif;
        color: <%- textcolor %>;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-wrap: wrap;
        background:none transparent;
      }
      .img {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin: 10px;
        border-radius: 25%;
        box-sizing: border-box;
        background-image: url(<%- icon %>);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        image-rendering: crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
      }
      .meta {
        display: inline-block;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        -webkit-flex-direction: column;
      }
      a {
        width: 100%;
        display: inline-block;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="img"></div>
    <div class="meta">
      <h1><%- title %></h1>
      <h3>rating: <%- rating %></h3>
      <h3>#<%- place %> NL/BE</h3>
    </div>
    <a target="_blank" href='https://wotnlclans.mkopenga.com'>wot nl stats</a>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-77662251-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
